.container-currency {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  .currency {
    font-size: 17px;
    display: flex;
    cursor: pointer;

    .icon {
      padding-left: 5px;
    }

    .down {
      transform: rotate(0.5turn);
      padding-right: 5px;
    }

  }

  .carrencies {
    padding: 10px 0;
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    font-size: 17px;
    position: absolute;
    top: 57px;
    left: -35px;
    z-index: 2;
    
    div {
      padding: 15px 35px; 
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        background-color: #EEEEEE;
      }

    }
  }
}