@import url("./assets/fonts/Raleway/Raleway.css");
@import url("./assets/fonts/RobotoCondense/RobotoCondense.css");
@import url("./assets/fonts/SourceSansPro/SourceSansPro.css");

body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}