.product-cart {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 15px 0;

  .first-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 30px;
  }

  .brand {
    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
  }

  .price {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
  }

  .container-count-gallery {
    display: flex;
    justify-content: space-between;
    
    .count-product {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .plus, .minus {
        width: 35px;
        height: 35px;
        color: #1D1F22;
        font-size: 25px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #1D1F22;
        cursor: pointer;
      }
      
      .count {
        text-align: center;
      }
    }
  }

  .delete-product {
    text-transform: uppercase;
    font-size: 14px;
    height: 19px;
    padding: 2px 6px;

    &:hover {
      color: rgb(240, 110, 110);
      cursor: pointer;
    }

  }
}
